<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.github.florent37.assets_audio_player">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application>
        <receiver android:name=".notification.NotificationActionReciever"/>
        <receiver android:name=".stopwhencall.PhoneStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.media.session.MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".notification.NotificationService"
            android:enabled="true"
            android:exported="true"/>

    </application>

</manifest>
